# OS noise
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini
*~
*.swp
*.swo

# Editors
.idea/
.vscode/

# Dependencies
node_modules/

# Logs
*.log

# Env
.env
.env.local

# Build output
dist/
build/

# OS-specific
.DS_Store?